<!DOCTYPE html>
<html>
<head>
    <title>Music Bingo Generator</title>
</head>

<body>
    <h1>Music Bingo Generator</h1>
    <h3>Click an Artist Name to Load Songs</h3>
    <div id="artist-buttons"></div>

    <h3>Or Search for an Artist:</h3>

    <input type="text" id='artist-search' placeholder = 'Enter artist name'>
    <button id = 'search-button'>Search</button>

    <h3>Or Enter Your Own List</h3>

    <form method="POST" action="/generate">

        <label for="title">Game Title:</label><br>
        <input type="text" id="title" name="title" required>
        <br><br>

        <label for="songs">Song List (one song per line):</label><br>
        <textarea 
            id="songs" 
            name="songs" 
            rows="15" 
            cols="50"
            required></textarea>
        <br><br>

        <label for="number_of_sheets">Number of Sheets:</label><br>
        <input 
            type="number" 
            id="number_of_sheets" 
            name="number_of_sheets"
            min="1"
            value="1"
            required>
        <br><br>

        <button type="submit">Generate Bingo Cards</button>

    </form>

    <button type="text" id='clear-button'>Clear Form</button>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>